body {
  margin: 0 auto;
  background-color: aliceblue;
  min-width: 320px;
}

.initially-hidden {
  display: none;
}

h1 {
  margin: 0;
}

h2 {
  margin: 1rem 0 2rem;
}

h3 {
  text-align: center;
  color: midnightblue;
  margin: 0;
}

h3 small {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  color: midnightblue;
  font-size: 2rem;
  font-weight: bold;
  margin: .5rem 0;
}

.row > h3:first-child {
  background: #dbeced;
  padding: 1rem 0;
  border-top: 1px solid midnightblue;
  border-bottom: 1px solid midnightblue;
  margin: 1rem 0;
}

.jumbotron {
  text-align: center;
  padding: 2rem 0;
  margin: 0;
  background: midnightblue;
}

.jumbotron,
.jumbotron small {
  color: aliceblue;
}

.col-md-6 {
  padding: 0;
  margin: 0;
}

.col-xs-6 {
  margin: 1rem 0;
  height: 160px;
}

.col-xs-6 img {
  display: block;
  margin: .5rem auto;
}

#survey {
  display: none;
}

div.highlight div {
  background-color: rgb(255, 191, 0);
}
div.highlight div:first-child {
  border-radius: 80px 0 0 80px;
}
div.highlight div:last-child {
  border-radius: 0 80px 80px 0;
}
